@import "/src/custom.scss";

.Form__Select__Container {
  height: 100%;
}

.Form__Select {
  height: 100%;
  border: none !important;
  border-radius: 6px;
  cursor: pointer;
}

@media screen and (max-width: 506px) {
  .Form__Select {
    width: 360px !important;
    border: none;
    cursor: pointer;
  }
}
