@import "/src/custom.scss";

.Container__PainelLeft {
  position: absolute;
  border-radius: 8px;
  top: 100px;
  left: 100px;
  height: 85vh;
  // width: 480px;
  width: 32%;
}

@media screen and (max-width: 960px) {
  .Container__PainelLeft {
    position: relative;
    height: 70vh;
    width: 95%;
    left: 10px;
    top: 10px;
  }
}
