.ChatBalonReceiveContainer {
  padding: 10px;
  display: flex;
  width: 100%;
}

.ChatBalonReceiveContainer__ProfileImage {
  margin-right: 5px;
  padding: 3px;
  display: flex;
  width: 50px;
  height: 50px;
}

.ChatBalonReceiveContainer__ProfileImage--Image {
  padding: 8px;
  font-size: 22px;
  border-radius: 50%;
  background-color: coral;
}

.ChatBalonReceiveContainer__Inicial {
  top: 0;
  left: -20px;
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 15px solid #58667d;
  border-right: 15px solid transparent;
  border-bottom: 30px solid transparent;
  transform: rotate(90deg);
}

.ChatBalonReceiveContainer__Text {
  width: 40%;
  margin-top: 10px;
  margin-left: 20px;
  position: relative;
  padding: 10px;
  background-color: #58667d;
  color: white;
  border-radius: 10px;
  z-index: 10;
}
